<a style="cursor: pointer;"
   class="list-group-item clearfix">
   <div class="row">
    <div class="col-sm-4">
        <h4>{{order.title}}</h4>
    </div>
    <div [ngClass]="{'col-sm-3': !order.isRealized, 'col-sm-4': order.isRealized}">
        <h4>{{order.creationDate}}</h4>
    </div>
    <div class="col-sm-5" *ngIf="!order.isRealized">
        <div class="pull-right">
            <button class="btn btn-success" (click)="onRealize()">REALIZE</button>
        </div>
        <div class="pull-left">
            <button class="btn btn-danger" (click)="onDelete()">DELETE</button>
        </div>
    </div>
    <div class="col-sm-4" *ngIf="order.isRealized">
        <button class="btn btn-info" style="width: 100%;" (click)="onShowDetails()">Show Details</button>
    </div>
   </div> 
</a>

